<div class="message">
  <div class="message__upper-info">
    <div class="message__upper-info__talker">
      <%= %>名前
    </div>
    <div class="message__upper-info__date">
      <%= %>2019/03/01
  </div>
  </div>
  <div class="message__text">
    <%= %>メッセージ1
  </div>
</div>
<div class="message">
  <div class="message__upper-info">
    <div class="message__upper-info__talker">
      <%= %>名前
    </div>
    <div class="message__upper-info__date">
      <%= %>2019/03/01
  </div>
  </div>
  <div class="message__text">
    <%= %>メッセージ2
  </div>
</div>
<div class="message">
  <div class="message__upper-info">
    <div class="message__upper-info__talker">
      <%= %>名前
    </div>
    <div class="message__upper-info__date">
      <%= %>2019/03/01
  </div>
  </div>
  <div class="message__text">
    <%= %>メッセージ3
  </div>
</div>
