%body
  %header.header
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %a
              = link_to new_group_path do
                =fa_icon 'pencil-square-o', class: 'icon'
          %li.side-header__box__menu__new-group
            %a
              = link_to edit_user_path(current_user) do
                = fa_icon 'cog', class: 'icon'
    .groups
      = render partial: "group"
  .chat-main
    .main-header
      .main-header__left-box
        %h1.main-header__left-box__current-group
          グループ名
        %ul.main-header__left-box__member-list
          Member :
          %li.main-header__left-box__member-list__member
            ユーザー名
      %a
        = link_to edit_group_path(current_user) do
          .main-header__edit-button
            Edit
    .messages
      = render partial: 'message', collection: @messages
      / .form
      /   = form_for [@group, @message] do |f|
      /   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      /   .form__mask
      /     = f.label :image, class: 'form__mask__image' do
      /       = fa_icon 'picture-o', class: 'icon'
      /       = f.file_field :image, class: 'hidden'
      /   = f.submit 'Send', class: 'form__submit'
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "", :enctype => "multipart/form-data", :method => "post"}
        .input-box
          %input.input-box__text{:id => "", :name => "message_content", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "upload-icon"}
            %i.fa.fa-image
            %input#upload-icon.input-box__image__file{:field => "image", :hidden => "", :type => "file"}/
        %input.submit-button{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
